# Packages for basic usage
numpy
pandas<2.0.0
matplotlib
tifffile
tqdm # progress bar
psutil # memory usage
opencv-python
scipy
scikit-learn
scikit-image
netgraph

# Packages for advanced usage 
scikit-posthocs
trackpy
openpyxl
tramway
git+https://gitlab.com/yumaitou/Spot-On-cli.git@py310
