# Packages for basic usage
# numpy
# pandas
matplotlib
tifffile
tqdm # progress bar
psutil # memory usage
opencv-python
scipy
scikit-learn
scikit-image
netgraph

# Packages for advanced usage
numpy<1.24.0 # for tramway
pandas<2.0.0
scikit-posthocs
trackpy
openpyxl
tramway
git+https://gitlab.com/yumaitou/Spot-On-cli.git@py310

# Packages for development
flake8
autopep8
pytest
pytest-cov
sphinx
sphinx-rtd-theme
docutils==0.16
doc8
notebook
ipywidgets